bundles/org.openhab.binding.stiebelheatpump/src/main/resources/HeatpumpConfig/Records.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="channelid" use="optional"/>
                <xs:attribute type="xs:string" name="requestByte" use="optional"/>
                <xs:attribute type="xs:string" name="dataType" use="optional"/>
                <xs:attribute type="xs:byte" name="position" use="optional"/>
                <xs:attribute type="xs:byte" name="length" use="optional"/>
                <xs:attribute type="xs:float" name="scale" use="optional"/>
                <xs:attribute type="xs:byte" name="bitPosition" use="optional"/>
                <xs:attribute type="xs:byte" name="min" use="optional"/>
                <xs:attribute type="xs:short" name="max" use="optional"/>
                <xs:attribute type="xs:float" name="step" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

