bundles/org.openhab.binding.stiebelheatpump/src/main/resources/Recorrds.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="recordDefinition">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="channelid" use="optional"/>
          <xs:attribute type="xs:string" name="requestByte" use="optional"/>
          <xs:attribute type="xs:string" name="DataType" use="optional"/>
          <xs:attribute type="xs:byte" name="Position" use="optional"/>
          <xs:attribute type="xs:byte" name="Length" use="optional"/>
          <xs:attribute type="xs:float" name="Scale" use="optional"/>
          <xs:attribute type="xs:byte" name="BitPosition" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="recordDefinition" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>